{% extends 'base.html '%}

<style>
  .logo {
    margin-left: 150px;
    width: 40opx;
    height: 400px;
  }

  .content {
    margin: -10px 250px;
    background-color: #aaf;
  }
  .content h1 {
    margin-left: 24%;
    font-size: 40px;
    text-decoration: underline;
  }

  body {
    background-repeat: repeat;
  }
</style>
{% block content %}
<div style="margin: -150px 0px 0px 200px">
  <h1 style="padding-top: 30px">Visualization Graph</h1>
  <br />
  <img
    src="/static/graphs/visuvalization/az.png"
    width="700"
    height="450"
    class="logo"
    alt=""
  />
  <h4>Analazing</h4>
  <br /><br />
  <img
    src="/static/graphs/visuvalization/az2.png"
    width="700"
    height="450"
    class="logo"
    alt=""
  />
  <h4>Analazing</h4>
  <br /><br />
  <img
    src="/static/graphs/visuvalization/az3.png"
    width="700"
    height="450"
    class="logo"
    alt=""
  />
  <h4>Analazing</h4>
  <br /><br />
</div>
{% endblock %}
<script></script>
